<div class="smc-container">
  <form class="form-signin" [formGroup]="loginForm">
    <div class="text-center mb-4">
      <img class="mb-4 logo" src="../../assets/images/logo.png" alt="Logo">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    </div>

    <div class="form-label-group">
      <input type="email" formControlName="email" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="email">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" formControlName="password" class="form-control" placeholder="Password" required="">
      <label for="password">Password</label>
    </div>

    <div class="signup mb-3">
      <small class="text-muted">Don't have an account? &nbsp;</small>
      <a class="btn btn-sm btn-secondary" href="/signup">Sign up</a>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signin()">Sign in</button>
  </form>
</div>