html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  .container{
    margin-top: 30px;
  }
  .smc-container{
    background-color: #fff;
  }
  .smc-search{
    margin-top: 20px;
    margin-bottom: 20px !important;
    padding-left: 0px;
    padding-right: 0px;
    height: 33px;
    input{
      height: calc(1.75em + 0.75rem + 2px);
      font-size: 0.85rem;
    }
    >*{
        border-radius: 0;
        .input-group-text{
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            border-left: none;
            background-color: #763aef;
            border-color: #763aef;
        }
    }
  }
  .table-responsive{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .smc-table thead th {
    font-weight: 400;
    background-color: #773aef;
    border-top: none;
    color: #fff;
    padding: 0.5rem 0.3rem;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  height: calc(2.75rem + 15px);
  padding: 10px;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  margin-right: 110px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
  color:#773aef;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
  color:#773aef;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
