.custom-file{
    margin-top: 20px;
}

.import-excel-header{
    background: #6f42c1;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -20px;
    padding: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}