<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">List of Companies</h6>
        <div class="col-6 input-group mb-3 smc-search">
            <input type="text" class="form-control" placeholder="Search companies by company name or stock exchange">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <a class="text-white" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                            viewBox="0 0 24 24" focusable="false">
                            <title>Search</title>
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <path d="M21 21l-5.2-5.2"></path>
                        </svg>
                    </a>
                </span>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table-sm smc-table">
                <thead>
                    <tr>
                        <th *ngFor="let column of columns">{{column.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td><small><a (click)="openModal(template)">Edit</a></small></td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>dapibus</td>
                        <td>diam</td>
                        <td>Sed</td>
                        <td>nisi</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>Nulla</td>
                        <td>quis</td>
                        <td>sem</td>
                        <td>at</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>nibh</td>
                        <td>elementum</td>
                        <td>imperdiet</td>
                        <td>Duis</td>
                    </tr>
                    <tr>
                        <td>1,007</td>
                        <td>sagittis</td>
                        <td>ipsum</td>
                        <td>Praesent</td>
                        <td>mauris</td>
                    </tr>
                    <tr>
                        <td>1,008</td>
                        <td>Fusce</td>
                        <td>nec</td>
                        <td>tellus</td>
                        <td>sed</td>
                    </tr>
                    <tr>
                        <td>1,009</td>
                        <td>augue</td>
                        <td>semper</td>
                        <td>porta</td>
                        <td>Mauris</td>
                    </tr>
                    <tr>
                        <td>1,010</td>
                        <td>massa</td>
                        <td>Vestibulum</td>
                        <td>lacinia</td>
                        <td>arcu</td>
                    </tr>
                    <tr>
                        <td>1,011</td>
                        <td>eget</td>
                        <td>nulla</td>
                        <td>Class</td>
                        <td>aptent</td>
                    </tr>
                    <tr>
                        <td>1,012</td>
                        <td>taciti</td>
                        <td>sociosqu</td>
                        <td>ad</td>
                        <td>litora</td>
                    </tr>
                    <tr>
                        <td>1,013</td>
                        <td>torquent</td>
                        <td>per</td>
                        <td>conubia</td>
                        <td>nostra</td>
                    </tr>
                    <tr>
                        <td>1,014</td>
                        <td>per</td>
                        <td>inceptos</td>
                        <td>himenaeos</td>
                        <td>Curabitur</td>
                    </tr>
                    <tr>
                        <td>1,015</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #template>
        <form class="needs-validation">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Company</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">Company name</label>
                        <input type="text" class="form-control" id="name" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid company name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="turnover">Turnover</label>
                        <input type="text" class="form-control" id="turnover" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid turnover is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="ceo">CEO</label>
                        <input type="text" class="form-control" id="ceo" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid CEO is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="boardOfDirectors">Board of Directors</label>
                        <input type="text" class="form-control" id="boardOfDirectors" placeholder="" value=""
                            required=""/>
                        <div class="invalid-feedback">
                            Valid Board of Directors is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="stockExchanges">Stock Exchanges</label>
                        <select class="custom-select d-block w-100" id="stockExchanges" required="">
                            <option value="">Choose stock exchange...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid stock exchange.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="sector">Sector</label>
                        <select class="custom-select d-block w-100" id="sector" required="">
                            <option value="">Choose sector...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid sector.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="writeup">Brief writeup</label>
                        <textarea class="form-control" id="writeup" placeholder="" value=""></textarea>
                    </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="bsModalRef.hide()">Cancel</button>
                <button class="btn btn-primary" type="submit" (click)="update()">Save changes</button>
            </div>
        </form>
    </ng-template>
</div>