<div class="nav-scroller bg-white shadow-sm" *ngIf="hasHeader">
  <nav class="nav nav-underline">
    <a class="navbar-brand" href="/">
      <img class="navbar-logo navbar-logo-light" src="../../assets/images/logo.png" alt="Logo">
    </a>
    <a class="nav-link active" [ngClass]="{'active': index + 1 === selected}" [href]="nav.link"
      *ngFor="let nav of navs; let index = index">{{nav.title}}</a>
  </nav>
  <div class="login">
    <a class="btn btn-sm btn-outline-secondary" (click)="onLogout()">Logout</a>
  </div>
</div>